@page "/app/dashboard"
@attribute [Authorize]
<PageTitle>Dashboard</PageTitle>
<div class="content">
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="brand-text float-left mt-4">
					<h3>Welcome <span></span> </h3>
				</div>
			</div>
		</div>
	</div>
</div>
@code{
	protected async override void OnInitialized()
	{
		StateHasChanged();
	}
}