@page "/"
@layout LoginLayout
@using Microsoft.AspNetCore.WebUtilities
@inject IAuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Login</PageTitle>
<div class="account-content">
    <div class="login-wrapper">
        <div class="login-content">
            <div class="login-userset">
                 <EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
                <div class="login-logo logo-normal">
                    <img src="assets/img/logo.png" alt="img">
                </div>
                <a href="index.html" class="login-logo logo-white">
                    <img src="assets/img/logo-white.png" alt="">
                </a>
                <div class="login-userheading">
                    <h3>Sign In</h3>
                    <h4>Please login to your account</h4>
                </div>
                <div class="form-login">
                    <label>Email</label>
                    <div class="form-addons">
                        <input type="text" @bind="user.Email" placeholder="Enter your email address">
                        <img src="assets/img/icons/mail.svg" alt="img">
                            <ValidationMessage For="@(() => user.Email)" />
                    </div>
                </div>
                <div class="form-login">
                    <label>Password</label>
                    <div class="pass-group">
                        <input type="password" @bind="user.Password" class="pass-input" placeholder="Enter your password">
                        <span class="fas toggle-password fa-eye-slash"></span>
                            <ValidationMessage For="@(() => user.Email)" />
                    </div>
                </div>
                <div class="form-login">
                    <button type="submit" class="btn btn-login">Sign In</button>
                </div>
                <div class="signinform text-center">
                    <h4>Don’t have an account? <a href="/register" class="hover-a">Sign Up</a></h4>
                </div>
                </EditForm>

            </div>
        </div>
        <div class="login-img">
            <img src="assets/img/login.jpg" alt="img">
        </div>
    </div>
</div>
@code {
    private UserLogin user = new UserLogin();

    private string errorMessage = string.Empty;

    private string returnUrl = string.Empty;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }
        StateHasChanged();
    }

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(user);
        if (result.Success)
        {
            errorMessage = string.Empty;

            await localStorageService.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/app/dashboard" , true);
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "", Detail = result.Message, Duration = 3000 });
        }
        StateHasChanged();
    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}